BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 1.8 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "io_I2C7_PAL_SDA" OPENDRAIN=ON IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_I2C7_UPDATE_SCL" OPENDRAIN=ON IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_I2C7_UPDATE_SDA" OPENDRAIN=ON IO_TYPE=LVCMOS33 ;
FREQUENCY NET "i_CLK_25M_CPLD_c" 25.000000 MHz ;
FREQUENCY NET "wb_clk" 4.290000 MHz ;
FREQUENCY NET "clk_50m" 50.000000 MHz ;
IOBUF PORT "i_CPLD_ESPI_CLK" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_CPLD_ESPI_CS_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_CPLD_ESPI_D0" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_CPLD_ESPI_RESET_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_CPU0_SGPIO0_CLK" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_CPU0_SGPIO1_CLK" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_CPU0_SGPIO2_CLK" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_CPU0_SGPIO3_CLK" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_HDT_CONN_TESTEN" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_BIOS_POST_STAGE_R_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_CPLD_SPARE_0" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_CPLD_SPARE_1" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_CPLD_SPARE_2" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_CPLD_SPARE_3" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_I3C_APML_ALERT_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_PCIE_RST_N_0" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_PCIE_RST_N_1" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_PWRGD_OUT" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_PWROK" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_RESET_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_SGPIO_DATA_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_SGPIO_LD_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_SLP_S3_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_SLP_S5_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_SMERR_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_SPD_HOST_CTRL_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_THERMTRIP_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_UART_TXD_0" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_UART_TXD_1" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_VDD_CORE_0_OCP_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_XTRIG_N_4" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_XTRIG_N_5" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_XTRIG_N_6" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P0_XTRIG_N_7" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P1_I3C_APML_ALERT_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P1_PCIE_RST_N_0" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P1_PCIE_RST_N_1" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P1_PWRGD_OUT" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P1_PWROK" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P1_RESET_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P1_SMERR_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P1_THERMTRIP_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P1_VDD_CORE_0_OCP_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P1_XTRIG_N_4" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P1_XTRIG_N_5" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P1_XTRIG_N_6" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_P1_XTRIG_N_7" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_PAL_P0_VDD_CORE_1_OCP_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_PAL_P1_VDD_CORE_1_OCP_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_HDT_CPU_PWROK" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_HDT_CPU_RESET_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P0_KBRST_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P0_NMI_SYNC_FLOOD_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P0_PCIE_WAKE_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P0_PROCHOT_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P0_PWR_BTN_R_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P0_PWR_GOOD" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P0_RSMRST_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P0_SYS_RESET_R_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P0_UART_RXD_1" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P1_KBRST_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P1_NMI_SYNC_FLOOD_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P1_PCIE_WAKE_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P1_PROCHOT_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P1_PWR_GOOD" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P1_RSMRST_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P1_SYS_RESET_R_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_PAL_BIOS_DEBUG_R_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_PAL_BMC_POST_DONE_FLAG_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_PAL_CLEAR_CMOS_R_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_PAL_P0_PRSENT_HDT" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_PAL_P1_PRSENT_HDT" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_CPLD_ESPI_ALERT_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_CPLD_ESPI_D1" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_CPLD_ESPI_D2" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_CPLD_ESPI_D3" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P0_FORCE_SELFREFRESH_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P0_SPI_CLK_STRAP" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P0_SPI_T245_OE_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P0_UART_RXD_0" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P0_WAFL_STRAP_SEL_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_P1_FORCE_SELFREFRESH_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_PAL_TPCM_BIOS_DONE_R_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_PAL_TPCM_BMC_DONE_R_N" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
FREQUENCY NET "clk_25m" 25.000000 MHz ;
IOBUF PORT "o_UART_CPLD_TX_R" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_PAL_P0_VDD_CORE_1_11_SUS_RST_L_N" OPENDRAIN=ON IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_PAL_P1_VDD_CORE_1_11_SUS_RST_L_N" OPENDRAIN=ON IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_P0_CPLD_SDA" OPENDRAIN=ON IO_TYPE=LVCMOS33 ;
