#
# Logical Preferences generated for Lattice by Synplify map202309lat, Build 191R.
#

# Period Constraints 
#FREQUENCY NET "pll_inst/clk_50m" 100.0 MHz;
#FREQUENCY NET "pll_inst/clk_25m" 100.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "pll_inst/clk_25m" TO CLKNET "pll_inst/clk_50m";
#BLOCK PATH FROM CLKNET "pll_inst/clk_50m" TO CLKNET "pll_inst/clk_25m";
#BLOCK PATH FROM CLKNET "pll_inst/clk_25m" TO CLKNET "pll_inst/clk_50m";
#BLOCK PATH FROM CLKNET "pll_inst/clk_50m" TO CLKNET "pll_inst/clk_25m";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
