#
# Logical Preferences generated for Lattice by Synplify map202003lat, Build 172R.
#

# Period Constraints 
#FREQUENCY NET "pll_inst/clk_25m" 100.0 MHz;
#FREQUENCY NET "pll_inst/clk_50m" 100.0 MHz;
#FREQUENCY NET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" 100.0 MHz;
#FREQUENCY NET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" 100.0 MHz;
#FREQUENCY NET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" 100.0 MHz;
#FREQUENCY NET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" 100.0 MHz;
#FREQUENCY NET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" 100.0 MHz;
#FREQUENCY NET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" 100.0 MHz;
#FREQUENCY NET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" 100.0 MHz;
#FREQUENCY NET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" 100.0 MHz;
#FREQUENCY NET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" 100.0 MHz;
#FREQUENCY NET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" 100.0 MHz;
#FREQUENCY NET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" 100.0 MHz;
#FREQUENCY NET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" 100.0 MHz;
#FREQUENCY NET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" 100.0 MHz;
#FREQUENCY NET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" 100.0 MHz;
#FREQUENCY NET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" 100.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_50m";
#BLOCK PATH FROM CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_25m";
#BLOCK PATH FROM CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_50m";
#BLOCK PATH FROM CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_25m";
#BLOCK PATH FROM CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_50m";
#BLOCK PATH FROM CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_25m";
#BLOCK PATH FROM CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_50m";
#BLOCK PATH FROM CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_25m";
#BLOCK PATH FROM CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_50m";
#BLOCK PATH FROM CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_25m";
#BLOCK PATH FROM CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_50m";
#BLOCK PATH FROM CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_25m";
#BLOCK PATH FROM CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_50m";
#BLOCK PATH FROM CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_25m";
#BLOCK PATH FROM CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_50m";
#BLOCK PATH FROM CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_25m";
#BLOCK PATH FROM CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_50m";
#BLOCK PATH FROM CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_25m";
#BLOCK PATH FROM CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_50m";
#BLOCK PATH FROM CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_25m";
#BLOCK PATH FROM CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_50m";
#BLOCK PATH FROM CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_25m";
#BLOCK PATH FROM CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_50m";
#BLOCK PATH FROM CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_25m";
#BLOCK PATH FROM CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_50m";
#BLOCK PATH FROM CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_25m";
#BLOCK PATH FROM CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_50m";
#BLOCK PATH FROM CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_25m";
#BLOCK PATH FROM CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_50m";
#BLOCK PATH FROM CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos" TO CLKNET "pll_inst/clk_25m";
#BLOCK PATH FROM CLKNET "pll_inst/clk_50m" TO CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_50m" TO CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_50m" TO CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_50m" TO CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_50m" TO CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_50m" TO CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_50m" TO CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_50m" TO CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_50m" TO CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_50m" TO CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_50m" TO CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_50m" TO CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_50m" TO CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_50m" TO CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_50m" TO CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_50m" TO CLKNET "pll_inst/clk_25m";
#BLOCK PATH FROM CLKNET "pll_inst/clk_25m" TO CLKNET "genblk1[9].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_25m" TO CLKNET "genblk1[14].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_25m" TO CLKNET "genblk1[7].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_25m" TO CLKNET "genblk1[11].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_25m" TO CLKNET "genblk1[0].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_25m" TO CLKNET "genblk1[8].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_25m" TO CLKNET "genblk1[2].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_25m" TO CLKNET "genblk1[12].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_25m" TO CLKNET "genblk1[5].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_25m" TO CLKNET "genblk1[3].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_25m" TO CLKNET "genblk1[13].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_25m" TO CLKNET "genblk1[4].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_25m" TO CLKNET "genblk1[6].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_25m" TO CLKNET "genblk1[1].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_25m" TO CLKNET "genblk1[10].fan_pwm_tach_m/Edge_Detect_u1/w_clk_1s_pos";
#BLOCK PATH FROM CLKNET "pll_inst/clk_25m" TO CLKNET "pll_inst/clk_50m";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
