BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "io_I2C7_2_UPDATE_SCL" OPENDRAIN=ON IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_I2C7_2_UPDATE_SDA" OPENDRAIN=ON IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_I2C7_PAL2_SDA" OPENDRAIN=ON IO_TYPE=LVCMOS33 ;
FREQUENCY NET "i_CLK_PAL2_IN_25M_c" 25.000000 MHz ;
FREQUENCY NET "wb_clk" 4.290000 MHz ;
FREQUENCY NET "clk_50m" 50.000000 MHz ;
FREQUENCY NET "clk_25m" 25.000000 MHz ;
