RVL_ALIAS "clk_50m" "clk_50m"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 1.8 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=NONE ;
FREQUENCY NET "clk_50m" 50.000000 MHz HOLD_MARGIN 0.200000 ns ;
FREQUENCY NET "wb_clk" 4.290000 MHz HOLD_MARGIN 0.200000 ns ;
IOBUF PORT "io_I2C9_CPLD_UPDATE_SCL" OPENDRAIN=ON IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_I2C9_CPLD_UPDATE_SDA" OPENDRAIN=ON IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_I2C_CPLD_SDA" OPENDRAIN=ON IO_TYPE=LVCMOS33 ;
FREQUENCY NET "clk_25m" 25.000000 MHz ;
FREQUENCY NET "i_CPLD_CLK_c" 25.000000 MHz ;
IOBUF PORT "o_PAL_USBMUX_OE_N" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_PAL_USBMUX_SEL" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_UBB_PEX_STRAP0_R" OPENDRAIN=ON IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_UBB_PEX_STRAP1_R" OPENDRAIN=ON IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_FPGA_BOOT_EN_R" OPENDRAIN=ON IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_NVLINK_REFCLK_SELECT_R" OPENDRAIN=ON IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_WP_HW_CTRL_N" OPENDRAIN=ON IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_GPU_BASE_STBY_EN_R" OPENDRAIN=ON IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_3V3IO_RSVD0_FFU_R" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_3V3IO_RSVD1_FFU_R" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_3V3IO_RSVD2_FFU_R" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_3V3IO_RSVD3_FFU_R" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_RETIMER1_INT_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_RETIMER2_INT_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_RETIMER3_INT_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_RETIMER4_INT_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_RETIMER5_INT_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_RETIMER6_INT_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_RETIMER7_INT_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_RETIMER8_INT_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_NIC1_PERST_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_NIC2_PERST_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_NIC3_PERST_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_NIC4_PERST_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_NIC5_PERST_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_NIC6_PERST_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_NIC7_PERST_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_NIC8_PERST_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_RETIMER1_RESET_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_RETIMER2_RESET_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_RETIMER3_RESET_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_RETIMER4_RESET_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_RETIMER5_RESET_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_RETIMER6_RESET_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_RETIMER7_RESET_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "o_RETIMER8_RESET_N_R" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i_ict_tp100" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
